<h2 class="text-center"><%= recipe.name %></h2>
<br/>
<div class="row">
  <div class="col-sm">
    <p> Preparation time: <%= recipe.preparation_time %> </p>
    <P> Cooking Time: <%= recipe.cooking_time %> </p>
    <p> <%= recipe.description %> </p>
  </div>
  <div class="col-sm">
    <% if recipe.public %>
      <p>Public recipe </p>
    <% else %>
      <p>Not public recipe </p>
    <% end %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm">
      <%= link_to "Generate Shopping list", new_recipe_path, class: "btn btn-primary" %>
  </div>
  <div class="col-sm">
    <%= link_to "Add ingredients", new_recipe_path, class: "btn btn-primary" %>
  </div>
</div>
<br/>
<hr/>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @food_recipes.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
        <td><%= recipe_food.quantity * recipe_food.food.price %></td>
        <td> 
          <div class="row">
            <%= link_to "Edit", edit_recipe_path(@recipe), class: "col-sm btn btn-warning btn-sm" %>
            <%= link_to "Delete", @recipe, method: :delete, class: "col-sm btn btn-danger btn-sm" %>
          </div>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>