<div class="wcontainer">
  <div class="cont">
      <h1 class="mb-3">Recipes</h1>
        <% @recipes.each do |recipe| %>
          <%= link_to recipes_path do %>
            <div class="border border-dark p-4 row">
              <div class="col-sm">
                <h1><%= link_to recipe.name, recipe %></h1>
                <p><%= link_to "REMOVE", @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger  btn-sm" %></p>
              </div>
              <div class="col-sm">
                <p class="deets"><%= recipe.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
  <%= link_to "New recipe", new_recipe_path %>
</div>
